.singlePostContainer{
    color: #F5F5F5;
    background-color: #364F6B;
    border-radius: 5px;
    padding: 20px 20px;
    box-shadow: -1px 0px 10px 0px rgb(0 0 0 / 49%);
}
.singlePostContainer h4{
    text-transform: capitalize;
    padding: 15px 0 15px 0;
}
.link{
    border-radius: 7px;
    color: #F5F5F5;
    text-decoration: none;
    padding: 8px 30px;
    background-color: #FC5185;
}